/* 正文图片 */
.image-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.image-row div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2%;
  margin-bottom: 20px;
  width: calc((100% - 8%) / 4);
}

.image-row div:nth-child(4n + 4),
.image-row div:last-child {
  margin-right: 0;
}

.image-row p {
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .image-row div {
    width: 96%;
    margin-left: 2%;
    margin-right: 0;
  }

  .image-row div:last-child {
    margin-bottom: 0;
  }
}
/* 正文 */
/* 创建三个相等的列 */
.column {
  float: left;
  width: 25%;
}

/* 列后清除浮动 */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* 响应式布局 - 小于 600 px 时改为上下布局 */
@media screen and (max-width: 900px) {
  .column {
    width: 100%;
  }
}
a {
  text-decoration: none;
  color: #7a7a7a;
}

/* 弹窗按钮 */
.alert-button {
  display: inline-block;
  background-color: #007bff;
  color: #b50e0e;
  padding: 10px 20px;
  border-radius: 3px;
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

.alert-button:hover {
  background-color: #0069d9;
}
